{% extends 'home/base.html' %}

{% block content %}
<center>
<div class="profile">
    {% for m in messages %}
        <p style="width: 250px;background-color: red;">{{m}}</p>
        {% endfor %}
<form method="POST" enctype="multipart/form-data" action='{% url "crtpat" %}'>
{% csrf_token %}
<table>
<tr><th>Name:</th><th><input type="text" name='name'></th></tr>
<tr><th>Email:</th><th><input type="text" name='email'></th></tr>
<tr><th>Phone:</th><th><input type="text" name='phone'></th></tr>
<tr><th>Gender:</th><th><select name="gender">
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    <option value="Other">Other</option></th></tr>
<tr><th>Age:</th><th><input type="text" name='age'></th></tr>
<tr><th>Address:</th><th><input type="text" name='address'></th></tr>
<tr><th>Blood Group:</th><th><select name="bloodgroup">
    <option value="A+">A+</option>
    <option value="A-">A-</option>
    <option value="B+">B+</option>
    <option value="B-">B-</option>
    <option value="O+">O+</option>
    <option value="O-">O-</option>
    <option value="AB+">AB-</option>
    <option value="AB-">AB+</option>
</select></th></tr>
<tr><th>Case Paper:</th><th><input type="text" name='casepaper'></th></tr>
<tr><th>Medical Report :</th><th><input type="file" name='image' required></th></tr>
</table>
<input type="submit" value="Create">
</form>
    
</div>
</center>
{% endblock %}
