{% extends 'home/base.html' %}

{% block content %}
<center>
    {% load mathfilters %}
<div class="profile">
    <div style="text-align:left;font-size: 15px;font-family: arial;font-style: initial;background-color: indigo;color: white;padding: 5px;">
        <h1 style="display: inline-block;">INVOICE</h1>
        <div style="float:right;display: inline-block;">Date : {{ inv.date|date:"F d Y" }}</div><br>
        <div style="margin:5px;">
        Name of Patient : {{ inv.patient }}<br><br> 
        Phone : {{ inv.patient.phone }}<br><br>
        Address : {{ inv.patient.address }}
    </div>

    </div>
    <div style="text-align:left;font-family: arial;font-style: initial;padding: 5px;text-align: justify;">
        
        <table>
            <tr><th><h1>Total </h1></th><th><h1>: {{ inv.total }} $</h1></th></tr>
            <tr><th><h1>Paid </h1></th><th><h1>: {{ inv.paid }} $</h1></th></tr>
            <tr><th><h1>Tax </h1></th><th><h1>: {{ inv.paid|add:inv.outstanding|mul:0.05 }} $</h1></th></tr>
            <tr><th><h1>Outstanding </h1></th><th><h1>: {{ inv.outstanding }} $</h1></th></tr>
        </table>            
        </div>
        <div style="text-align:left;font-size: 15px;font-family: arial;font-style: initial;background-color: indigo;color: white;padding: 5px;">
            <table>
                <tr><th>Hospital Management</th><th>N7 Cidco,</th></tr>
                <tr><th>hospitalmanagement@gmail.com</th><th>Aurangabad</th></tr>
                <tr><th>+917219120475</th><th> </th></tr>
            </table>                
        </div>
</div>
</center>

{% endblock %}